<h2>Notification about {{ token }} price</h2>

<h4>Current price for {{ token }} is {{ curPrice }}</h4>

<p>
Some additional text could be here.
We also can include links to the platform
and contact information.
</p>